* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
  flex-shrink: 0;
  background: rgba(229, 84, 115, 0.1);
}

.header h1 {
  margin-top: 197px;
  margin-left: 240px;
  margin-right: 97px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 708px;
}

.header img {
  margin-top: 50px;
  margin-right: 240px;
  width: 635px;
  height: 800px;
  flex-shrink: 0;
}

.header p {
  margin-left: 240px;
  margin-right: 171px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.header button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
  background: #e55473;
  color: #fff;
  font-family: lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 240px;
  margin-bottom: 147px;
}

.featured h3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 160px;
}

.featured p {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.flowers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 50px 240px;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 80px;
}

.one {
  height: 100%;
  width: 50vw;
}
.one img {
  height: 45vh;
  width: 25vw;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.flowers h5 {
  padding: 5px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  margin-top: 20px 0px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.service {
  margin: 120px 240px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
}

.service img {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 10px;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}

.service h6 {
  color: rgba(39, 39, 39, 0.8);
  width: 190px;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}

.c {
  display: flex;
  justify-content: center;
}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 620px;
  flex-shrink: 0;
  margin: 100px 0px;
}

.sale > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sale h3 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.off {
  color: #e55473;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sale p {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.sale button {
  padding: 20px 43px;
  text-align: center;
  width: 250px;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

#instagram {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

#instagram-p {
  margin: 0px 400px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.insta {
  margin: 100px 240px;
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 80px;
}

.deal {
  margin: 100px 240px;
  border-radius: 5% 5%;
  width: auto;
  height: 449px;
  background-image: url("./Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}

.deal h3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.mail {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.mail input {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
}

.mail ::placeholder {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mail button {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e55473;
  border: none;
}

#b1 {
  width: 88px;
  height: 27.429px;
  flex-shrink: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer {
  width: 100%;
  height: 449px;
  flex-shrink: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer h4 {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#shop {
  color: #fff;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 625px;
}

#last {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 576px) {
  body {
    border: 2px solid black;
  }

  .txt,
  .imgg {
    width: 100vw;
    height: 100vh;
  }

  .header h1,
  .header p {
    width: 90vw;
    margin: 10px 10px;
  }

  .header h1 {
    font-size: xxx-large;
  }

  .header button {
    margin: 10px 10px;
  }

  .header {
    flex-direction: column;
    height: auto;
    gap: 1fr;
  }

  .header img {
    margin: 0px;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
  }

  .featured,
  .featured p {
    width: 90vw;
    margin: 10px;
    margin-bottom: 30px;
  }

  .flowers {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .one {
    width: 80vw;
    margin-bottom: 20px;
  }

  .one img {
    height: 70vh;
    width: 80vw;
  }

  .flowers h5 {
    font-size: 24px;
    line-height: 30px;
  }

  .service {
    flex-direction: column;
    margin: 20px;
    height: auto;
    align-items: center;
  }

  .service h6 {
    margin-bottom: 30px;
  }

  .sale,
  .sale > div {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 2rem;
  }

  .sale p {
    width: 80vw;
  }

  .sale h3 {
    margin-top: 30px;
  }

  .sale img {
    margin-bottom: 40px;
  }

  #instagram-p {
    margin: 10px;
  }

  .insta {
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

  .deal {
    margin: 10px;
    margin-top: 50px;
    text-align: center;
  }

  .deal input {
    width: 100%;
  }

  .mail {
    flex-direction: column;
    margin: 40px;
    align-items: center;
  }

  .footer h3,
  .footer p {
    width: 100%;
    margin: 10px;
  }
}
